################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
.vs/
DotnetELKSample/bin/
DotnetELKSample/obj/
packages/
